<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <div th:replace="~{fragments/book_frag.html :: head}"></div>

  <body id="page-top">
    <!-- Navigation-->
    <div th:replace="~{fragments/book_frag.html :: nav}"></div>

<H1>Book Store Management</H1>


    </section>
    <!-- Services section-->
    <section class="bg-light" id="services">
      <div class="container px-4">
        <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
            <h2>Services we offer</h2>
            <p class="lead">
            <ol>

              <li><h >Inventory Management:</h> This feature helps in keeping track of the books in stock and ensures that the store is always well-stocked. It also helps in keeping track of the sales of different books, which can be used to identify best-selling books and re-order popular titles.</li>

              <li><h>Order Management: </h>This feature allows customers to place orders online and track the status of their orders. It also helps in processing the orders and keeping track of the shipping and delivery details.</li>

              <li><h>Payment Processing: </h>This feature allows customers to make payments for their orders using a variety of payment methods like credit card, debit card, and online payment gateways.</li>

              <li><h>Customer Relationship Management: </h>This feature helps in managing customer relationships by keeping track of customer details, order history, and communication with customers.</li>

              <li><h>Reporting:</h> This feature provides real-time analytics and reports on various aspects of the online book store, such as sales, inventory, and customer data.</li>
            </ol>
            <p>
              Overall, an online book store management system can help in improving the efficiency and profitability of an online book store by automating various tasks and providing insights into the business operations.
            </p>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact section-->
    <section id="contact">
      <div class="container px-4">
        <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
            <h2>Contact us</h2>
            <p class="lead">
              Online Book store is an online web application where the customer can purchase books online.
              Through a web browser the customers can search for a book by its title, author,price and later can add to the shopping cart.
              The user can login using his account details or new customers can set up by click on new register.
              The Administrator will have additional functionalities when compared to the common user. He can add, delete and update
              the book details and he can see all users information.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer-->
    <div th:replace="~{fragments/book_frag.html :: foot}"></div>
  </body>
</html>
